.custom{
  @include e(foto){
    @include m(down){
      @include mq(medium){
        margin-top: 15rem;
      }
    }
  }
  @include e(contact){
    font-weight: $font-weight--medium;
    font-family: $font-family--primary;
    font-size: em(12px);
    &:hover{
      color: $red;
    }
  }
}
