/* =================================
Helper classes
==================================== */
.push__left{
	right: 60%;
}
.push__up{
	top: -10px;
	opacity: .7;
}
.is__hidden{
	opacity: 0;
}
.is__visible{
	left: 0;
}
.is__sticky{
	height: 60px;
	background-color: $white;
}
.logo__small{
	width: 3em;
	margin-top: 1em;
}
.sticky{
	margin-top: 0;
}

%link{
	font-family: $font-family--primary;
	font-size: em(24px);
	text-align: center;
	text-transform: uppercase;
	line-height: 4em;
	letter-spacing: 1px;
}
%heading{
	font-weight: normal;
	font-family: $font-family--secondary	;
	color: $sycamore;
	padding: 3rem 0;
	font-size: 3rem;
	text-align: center;
	font-weight: 200;
	margin: 0 auto;
	display: block;
}
%text{
	font-size: 2rem;
	line-height: 3rem;
	font-weight: $font-weight--light;
}
%form__button{
	border: none;
	float: right;
	margin-bottom: em(22px);
	margin-top: em(22px);
	border-radius: 0.4em;
	box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
	color: $white;
	background-color: $color-primary;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 400;
}
