.logo{
  text-align: center;
}
.geen {
  box-shadow: none;
  width: 16rem;
  margin-top: 2rem;
  transition: all 0.4s cubic-bezier(0, 0.65, 0.63, 0.74);
}
.alpha{
  @include mq(large){
    float: left;
  }
}
