.mejs__overlay:hover > .mejs__overlay-button {
    background-color: #ed677a;
    border-radius: 50%;
}
.mejs__overlay-button {
    background-color: #ed677a;
    border-radius: 50%;
}
.section-video{
  margin-top: 4em;
}
.section-video p {
  font-size: 2.8rem;
}
.mejs__container {
    border-radius: 5px;
}
